<!DOCTYPE html>
<html>
<head>
    <title>Anna's Web Application</title> 
    <style type="text/css">
    
        body {
            margin:0;
            background-color:#5d8bba;
            font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
        }
        
        #header {
            background-color:#bccde0;
            margin:auto;
            width:100%;
            position:fixed;
        }
        
        .menubar {
            display:block;
        }
        
        .menubar ul {
    	    margin:0;
    	    height:20px; 
    	    padding-top:70px;
    	    display:block;
    	    
    	    
    	 }   
        
        .menubar li {
            list-style:none;
    	    font-size:1em;
    	    padding:0px 70px 0 70px;
    	    float:left;
    	    background-color:none;
    	    word-wrap:normal;  
    	    position:relative;
    	    
        }
        
        
        
        #index {
            padding-top:300px;
            text-align:center;
            
        }
        
        .fixedwidth {
            width:1050px;
    	    margin:0 auto;   
        }
        
        #index li {
            list-style:none;
            text-align:center;
        }
        
        
            
    
    </style> 
<body>
    <div id="header">
        <h1 style="text-align:center;"><strong>Welcome to the Alpha-Blog!</h1></strong>
        <h2 style="text-align:center;">Your gateway to blog templates, ideas, and a following!</h2>
        
         <div class="menubar">
            <ul>
                <li>Home</li>
                <li><%= link_to 'About', about_path %></li>
                <li><%= link_to "AlphaBlog", articles_path %></li>
                <li>Ideas</li>
                <li>Followers</li>
                <li>Contact</li>
            </ul>
        </div>
    </div>

       
    
    <div id="index">
    
        <div class="fixedwidth">
            <ul><h3>Our Services</h3>
                <li>Blog Templates</li>
                <li>Hosting</li>
                <li>Idea Generator</li>
                <li>Design Services</li>
                <li>Start your Following</li>
                <li>Promote your Skills</li>
                <li>Proofread your Writing</li>
                <li>Premium Themes</li>
                
            </ul>   
        </div> 
        
        
    </div>    



    
    
 

</body>
</html>