<div class="container">
  <footer class="footer">
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
    <small>
      Copyright &copy; <a href="https://www.coderoam.com">CodeRoam</a> 
      by <a href="https://www.annaschoener.com">Anna Schoener</a><br />
      Images courtesy of <a href="http://www.gratisography.com/">Gratisography</a>
    </small>
  </footer>
</div>